body .container {
    margin: 20px;
    padding: 20px;
    border-style: none;
}
.nav-link {
    margin: 0px 30px;
}
.list-group-flush .list-group-item{
    border: 0px;
    font-size: 16px;
    padding: 0rem 0rem;
}
.card img {
    width: 300px;
    height: 230px;
    padding-left: 25%;
    padding-right: 20%;
    padding-top: 10%;
}
.star{
    color: orange;
    font-size: 12px;
}
.pagination{
    margin-top:20px ;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    justify-content: center;
    
}
.page-item .page-link {
    color: black;
}
.follow {
    text-align: center;
    font-size: 13px;
}